files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/49_set_tmp_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo mkdir -p tmp/.npm
      sudo chown -R nodejs:nodejs /tmp/.npm
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/51_set_tmp_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo mkdir -p tmp/.npm
      sudo chown -R root:root /tmp/.npm